@import 'tailwindcss';

input::placeholder {
  font-size: inherit;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

svg {
  display: inline-block;
}

@media (hover: hover) {
  button:hover {
    cursor: pointer;
  }
}
